<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Update Permission Request</title>
</head>
<body>
    <div class="container">
        <h2>Update Permission Request for {{ request.student.name }}</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="status">Status:</label>
                <select name="status" class="form-control" required>
                    <option value="">Select Status</option>
                    <option value="Approved">Approve</option>
                    <option value="Denied">Deny</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</body>
</html>
